body {
    font-family: Arial, sans-serif;
    background-color: #f0f9e6; /* Warna latar belakang hijau muda */
    padding: 20px;
}

h2 {
    color: #33691e; /* Warna teks hijau gelap */
}

button {
    background-color: #4caf50; /* Warna tombol hijau */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049; /* Warna tombol hijau gelap saat dihover */
}

input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* Warna latar belakang putih */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4caf50; /* Warna latar belakang hijau untuk header */
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Warna latar belakang abu-abu muda untuk baris genap */
}

tbody tr:hover {
    background-color: #ddd; /* Warna latar belakang abu-abu saat dihover */
}

button {
    background-color: #4caf50; /* Warna tombol hijau */
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049; /* Warna tombol hijau gelap saat dihover */
}
